<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <h1>Sign Up Here</h1>

    <form>

        <div id="div1">
            <input type="text" name="Username" placeholder="enter username"><br><br>
            <input type="password" name="passward" placeholder="enter passward"><br><br>
            <input type="date" name="DOB"><br><br>
            <input type="email" name="Email" placeholder="enter email"><br><br>

        </div>

        <button type="button">Sign up</button>
    </form>
</body>
</html>