<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="get">

        <input type="text" name="first" placeholder="enter first number"> <br><br>
        <input type="text" name="second" placeholder="enter second number"> <br><br>
        <input type="submit" value="sum"><br><br>
        <input type="text" value="{{sum}}"><br><br>
    </form>
</body>
</html>